<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title class="text-muted font-weight-bold small">CONTACT US</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-row>
    <ion-col size-md="6"  size-xs="12" padding>
      <div  id="map" class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%20Mirza%20Arcade,%20Street%20Number%2013,%20Daulat%20Gulshan%20Colony,%20Deluxe%20Colony,%20Surya%20Nagar,%20Toli%20Chowki,%20Hyderabad,%20Telangana%20500008&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">adding google map to wordpress</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div></div>
        <!-- <div #map id="map"></div> -->
        <ion-card class="top">
            <ion-item >
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Tolichowki, Hyderabad, Telangana - 500008</ion-label>              
            </ion-item>
          
            <ion-item >
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-label>info@umdaa.co</ion-label>
              <!-- <ion-button slot="end">Send Mail</ion-button> -->
            </ion-item>
          
            <ion-item >
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-label>+91-910046 2015</ion-label>
              <!-- <ion-label>+91-910094 8181</ion-label> -->
              <ion-button slot="end" color="warning"><a href="tel:+91-9100948181" style="text-decoration:none;">Call us</a></ion-button>
            </ion-item>
          
            <!-- <ion-item>
              <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
              <ion-label>whatsapp</ion-label>
               <ion-button slot="end" color="success">Open app</ion-button>
            </ion-item> -->
          </ion-card>
    </ion-col>
    
</ion-row>


</ion-content>