<!-- <ion-content>
    <div class="container">
      <ion-card class="card width">
          <ion-card-header  class="my_card-header">
              <div class="my_card-icon my_bg_v my_card-icon_xs_padding">
                 <ion-text text-left color="favorite" >
                     <h6>PATIENT PROFILE</h6>
                 </ion-text>
              </div>
             </ion-card-header>
        <ion-card-content >
            <form >
                <ion-row>
                  <ion-col size-md="4" size-xs="12">
                    <img class="resp-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRXp-arsd8amrwUNzkRHXfn5g4vtHVPxIpR8SVIo1engK96T_ER" alt="image not found">
                  </ion-col>
                  <ion-col size-md="8" size-xs="12">
                    <ion-row>
                        <ion-label class="fw">Patient Details</ion-label>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                          <ion-text >Name</ion-text>
                      </ion-col>
                      <ion-col>
                          <ion-label>:{{responsedata.first_name}}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text>Age</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-label>:{{responsedata.age}}</ion-label>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                          <ion-col>
                              <ion-text>Gender</ion-text>
                          </ion-col>
                          <ion-col>
                              <ion-label>:{{responsedata.gender}}</ion-label>
                          </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-label class="fw">Contact Details</ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-text >Mobile</ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-label>:{{responsedata.mobile}}</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <ion-text >Location</ion-text>
                          </ion-col>
                          <ion-col>
                              <ion-label>:{{responsedata.location}}</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-label class="fw">Add Comments</ion-label>
                            <textarea class="form-control" rows="4" name="textarea" [(ngModel)]="myInput" ></textarea>
                        </ion-row>
                        <ion-row  >
                            <!-- <button mat-button type="submit" style="color: #ffff;" class="my_bg_v" >Save</button>
                            <button mat-button type="submit" style="color: #ffff;" class="my_bg_v" routerLink="/patientprofileedit">Edit Profile</button> 
                            <ion-button type="submit" color="theme" >Save </ion-button>
                            <ion-button type="submit" color="theme" routerLink="/patientprofileedit" class="my_bg_v">Edit Profile </ion-button>
                          </ion-row>
                  </ion-col>
                </ion-row>
              </form>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>   -->