<!-- <ion-header>
  <ion-toolbar>
 
        <ion-searchbar placeholder="Search Consent Form"
        [(ngModel)]="searchTerm"
        (ionChange)="setFilteredItems()"
      ></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-spinner name="bubbles" *ngIf="show"></ion-spinner>  -
 <ion-list>
         <ion-item [hidden]="!searchTerm.length" (click)="getValue(item.consent_form_id)" *ngFor="let item of items"> 
         {{ item.consent_form_title }}
       </ion-item>
     </ion-list> 

     <ion-list>
        <ion-item [hidden]="!searchTerm.length" (click)="getValue(item.consent_form_id)" *ngFor="let item of filtereditems"> 
        {{ item.consent_form_title }}
      </ion-item>
    </ion-list>
      <ion-list *ngIf="searchTerm == 0"> 

            <ion-item  *ngFor="let te of ionic">
                  {{te.consent_form_title}}
                  <div class="item-note" slot="end"> 
                      <ion-icon name="checkbox-outline"  routerLink="/checklist/{{te.consent_form_id}}/{{te.consent_form_title}}"  style="zoom:2.0;"></ion-icon> 
                     <a href="{{pdf.pdf_name}}" target="_blank"><ion-icon name="document" style="zoom:2.0;" (click)="getPdf(te.consent_form_id)"></ion-icon></a>
                  </div>
                </ion-item>
              </ion-list>  

              

</ion-content>

 -->
