<div class="mat-body m-0">
  <div class="row" *ngIf="imp == 'edit'">
    <div class="col-12 text-right">
        <mat-icon (click)="close()" class="custom_css_btn">close</mat-icon>
    </div>
  </div>
  <div>
    <div class="section" *ngIf="imp == 'edit'">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <h5 style="text-align: center;">Edit Slot Timings</h5>
            </div>
          </div>
          <!-- <div class="row mt-2">
            <div class="col-12 ">
   
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">From Time</label>
                <input type="time" value="{{fromTime}}" style="width:150px;" autocomplete="off" class="form-control"  (change)="timeOne($event)">
              </div>
            </form>
         
      
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">To Time</label>
                <input type="time" value="{{toTime}}" style="width:150px;" autocomplete="off"class="form-control"  (change)="timeTwo($event)">
              </div>
            </form>
         
        </div>       
        </div> -->
        <div class="row mt-2">
          <div class="col-12 d-flex">
          <div class="col-6 from">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">From Time</label>
              <input type="time"  value="{{fromTime}}" style="width:150px;" autocomplete="off" class="form-control"  (change)="timeOne($event)">
            </div>
          </form>
        </div>
        <div class="col-6 to ml-2">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">To Time</label>
              <input type="time"  value="{{toTime}}"  style="width:150px;" autocomplete="off"class="form-control"  (change)="timeTwo($event)">
            </div>
          </form>
        </div> 
      </div>       
      </div>
        
      </div>
      
      <!-- <mat-card *ngIf="dataTest">      
        <mat-card-content>
      
          <mat-list>
      
            <mat-list-item>
              <mat-checkbox  color="primary"
              [(ngModel)]="master_checked"
              [(indeterminate)]="master_indeterminate"
              (change)="master_change()"
              ><b>Do you want to continue with same session timings!</b></mat-checkbox>
            </mat-list-item>
      
            <mat-list-item *ngFor="let item of finalDays">
              <mat-checkbox  color="primary"
              [(ngModel)]="item.checked"
              [disabled]="item.disabled"
              [labelPosition]="item.labelPosition"
              (change)="list_change()"
              >{{ item.day }}</mat-checkbox>
            </mat-list-item>
      
          </mat-list>
      
        </mat-card-content>
      </mat-card> -->
      <!-- </div> -->
      <div class="col-12 mt-3"  style="text-align: center;">
        <button class="btn btn-primary" (click)="submitData()">Save</button>
       </div>
    </div>
    <div class="section" *ngIf="imp == 'delete'">
      <p style="font-weight: bold;font-size: 15px;">Are you sure you want to delete?</p>
      <button type="button" class="btn btn-danger" (click)="submit('No')">No</button>
      <button type="button" class="btn btn-primary" (click)="submit('Yes')">Yes</button>
    </div>

  </div>
  </div>