.custom_css_btn{
    color: red;
    cursor: pointer;
}
.example-full-width {
    width: 100%;
  }
 
  .file_section{
    background:rgba(238, 235, 235, 0.867);
      img{
        margin: 15px 5px;
        border-radius: 50%;
      }
  }
  video{
    outline: 0px;
}
