.active-item{
    border-left: 8px solid var(--ion-color-primary)
  }
  .split-pane-md.split-pane-visible>.split-pane-side{
    max-width: 20%;
  }
  .avtatar {
   margin-left: 100px;
  
  }
  
  .menuicon{
    margin-left: 25px;
    font-size: 32px;
    margin-right: 13px;
  }

  