<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/dashboard"></ion-back-button>
      </ion-buttons>
    <ion-title class="font-weight-bold small">HOW TO USE UMDAA</ion-title>
    <ion-icon slot="end" padding style="font-size: 20px;" (click)="logout()" name="md-power"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <!-- <div class="m-2" *ngFor="let title of videoList">
      <ion-title>{{title.tutorial_name}}</ion-title>
    </div> -->
    <div  class="col-12 col-md-4 col-lg-4 col-xl-4 " *ngFor="let item of videoList;let i = index">
        <div class="video p-2">
          <div class="p-2">
            <ion-title>{{i+1}}. {{item.tutorial_name}}</ion-title>
          </div>
          <iframe   width="100%" height="180" [src]=" 'https://www.youtube.com/embed/' + item.tutorial_link |safeUrl" frameborder="0"  allowfullscreen></iframe>
        </div>
      
    </div>
    
  </div>
</ion-content>


<!-- <ion-toolbar>
    <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
<ion-title class="text-muted font-weight-bold small">HOW TO USE UMDAA</ion-title>
</ion-toolbar>

<ion-content>
  <ion-row>
    <ion-col  >
      
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/dYrABzp619M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </ion-col>
    <ion-col >
     
       
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/IwLCopc4Xd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    </ion-col>
  </ion-row>
  
  
</ion-content> -->
