<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
        <ion-back-button defaultHref="doctorprofile"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="validations_form" (ngSubmit)="repassword(validations_form.value)">
    <ion-grid>
        <ion-row >
      <ion-card class="card_2">
        <ion-card-header text-center>
            <ion-card-title>Change Password ?</ion-card-title>
            <ion-card-subtitle>Please Enter your new Password</ion-card-subtitle>
        </ion-card-header>
      <ion-card-content>
       
            <div formGroupName="matching_passwords" >
              <ion-item margin > 
                  <!-- <ion-label position="stacked">New Password</ion-label> -->
                  <ion-icon name="unlock" slot="start"></ion-icon>
                <ion-input type="password" minlength="8" (ionChange)='check($event)' formControlName="password" placeholder="New Password" [type]="passwordType" clearOnEdit="false"></ion-input>
                <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
              </ion-item>
              <div class="validation-errors error-message">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty )">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              
              <ion-item margin >
                  <!-- <ion-label position="stacked">New ConfirmPassword</ion-label> -->
                  <ion-icon name="unlock" slot="start"></ion-icon>
                <ion-input type="password" minlength="8"  formControlName="confirm_password" placeholder="Confirm Password"  clearOnEdit="false" ></ion-input>
                <!-- <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='ShowPassword()'></ion-icon> -->

              </ion-item>
              <div class="validation-errors error-message">
                <ng-container *ngFor="let validation of validation_messages.confirm_password">
                  <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
                <!-- These validations are for the form group -->
            <div class="validation-errors error-message">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                  <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              </div>
              <div text-center>
                  <ion-button  type="submit" color="light">Save</ion-button>
               </div>
        
      </ion-card-content>
    </ion-card>
  </ion-row>
    </ion-grid>
</form>
</ion-content>
