


<div class="mat-body">  
  <div class="form_header">
      <div class="row">
        <div class=" col-6">
          <h5 class="color"></h5>
  
        </div>
        <div class="col-6 text-right">
          <i class="material-icons fs" (click)="close()">close</i>
  
        </div>
      </div>
  </div>

<div class="row">
  <div class="col-12 d-flex p-0">
    <div class="left col-6">
      <span class="font">Patient Name : {{data.patientName}}</span>
    </div>
    <div class=" col-6 text-right">
     <button mat-button class="my_bg_v" (click)="patientinfo()">Patient Details</button>
    </div>
   </div>
</div>
<mat-dialog-content class="mat-typography">
  <div class="mesgs">
    <div class="msg_history">
      <div class="incoming_msg"  *ngFor = "let received of mesagesList">
       <div *ngIf="received.doctor_id == firstDoctor_id" >
        <div class="incoming_msg_img" >   
          <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
        </div>
          <div class="received_msg">
            <div class="received_withd_msg" >
              <p>{{received.message}}</p>
              <span class="time_date">{{received.sent_by}}</span>
            </div>
        </div>
        </div>
         <div class="outgoing_msg" *ngIf="received.doctor_id != firstDoctor_id" >
        <div class="sent_msg" >
          <p>{{received.message}}</p>
          <span class="time_date">{{received.sent_by}}</span>
           </div>
      </div>
      </div>
      <!-- <div class="outgoing_msg" *ngFor="let sent_msg of mesagesList">
        <div class="sent_msg" *ngIf="sent_msg.doctor_id=='7'">
          <p>{{sent_msg.message}}</p>
          <span class="time_date">{{sent_msg.sent_by}}</span>
           </div>
      </div> -->
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions class="w-100">
  <mat-form-field class="full-width w-100">
    <input matInput placeholder="Start chatting..." name="text" #msg>
    <mat-icon matSuffix (click)="sentMsg(msg)" class="send" >send</mat-icon>
  </mat-form-field>
</mat-dialog-actions>