

<div class="row">
  <div class="col-12">
    <button mat-raised-button  color="primary" [socialShare]="'fb'">Facebook</button>
    <button mat-raised-button  color="primary" [socialShare]="'tw'">Twitter</button>
    <button mat-raised-button  color="primary" [socialShare]="'in'">Linkdedin</button>
    <button mat-raised-button  color="primary" [socialShare]="'tr'">Tumblr</button>
    <button mat-raised-button  color="primary" [socialShare]="'rd'">Reddit</button>
    <button mat-raised-button  color="primary" [socialShare]="'pn'">Pinterest</button>
    \<button mat-raised-button  color="primary" [socialShare]="'ws'">Whatsap</button>
  </div>
</div>