
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="appointment" >
          </ion-back-button>
        </ion-buttons>
    <ion-title>Mr.Naveen</ion-title>
<span>#P789456</span> 
  </ion-toolbar>


<ion-content>
<ion-row>
  <ion-col>
      <ion-card>
          <ion-tab-button tab="profile">
              <ion-icon md="md-contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>
      </ion-card>
  </ion-col>
  <ion-col>
      <ion-card>
          <ion-tab-button tab="profile">
              <ion-icon md="md-contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>
      </ion-card>
  </ion-col>
  <ion-col>
      <ion-card>
          <ion-tab-button tab="profile">
              <ion-icon md="md-contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>
      </ion-card>
  </ion-col>
  <ion-col>
      <ion-card>
          <ion-tab-button tab="profile">
              <ion-icon md="md-contact"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>
      </ion-card>
  </ion-col>
</ion-row>
 
<ion-tabs>
  <ion-tab-bar >
      <ion-tab-button tab="profile">
          <ion-icon md="md-contact"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
    <ion-tab-button tab="vitals">
      <ion-icon name="pulse"></ion-icon>
        <ion-label>Vitals</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="forms">
      <ion-icon md="md-paper"></ion-icon>
        <ion-label>Forms</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="reports">
      <ion-icon md="md-albums"></ion-icon>
        <ion-label>Reports</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="symptoms">
      <ion-icon md="md-man"></ion-icon>
        <ion-label>Symptoms</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hopi">
      <ion-icon md="md-leaf"></ion-icon>
        <ion-label>Hopi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon md="md-time"></ion-icon>
        <ion-label>History</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>

</ion-content>

